{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
{% for message in app.flashes('success') %}
    <div class="text-center text-danger">
        {{ message }} 
    </div> 
{% endfor %}
    <h1 class="text-center mt-3 text-danger">Tout nos produits</h1>

    <div class="row mt-5 justify-content-between">
    {% for product in products %}
    <div class="card shadow text-center text-dark bg-light mx-1 mt-5">
        <div class="card-body">
            <h5 class="card-title text-danger mt-3">{{ product.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted mt-3">{{ product.price / 10}} euros</h6>
            <p>Vendeur : <a href="{{ path('user_show', { id: product.user.id }) }}">{{ product.user.username }}</a></p>
            <p><a href="{{ path('categorie_show', { id: product.categorie.id}) }}">Categorie : {{ product.categorie.name }}<a></p>
            <p class="h5" style="height: 100px;">{{ product.description }}</p>
            <a href="{{ path('product_show', { slug: product.slug }) }}" class="btn btn-primary w-100">Voir le produit</a>

            {% if is_granted('ROLE_ADMIN') or app.user == product.user %}
                <div class="d-flex justify-content-between">
                    <a href="{{ path('product_edit', {id: product.id}) }}"  class="btn btn-secondary mt-3" style="width: 90px; height: 45px;">Edit</a>
                    <!-- <a href="{{ path('product_remove', {id: product.id}) }}"  class="btn btn-danger mt-3 col-md-5 ml-3">Remove</a> -->
                    <form action="{{ path('product_remove', {id: product.id}) }}" method="post" class="d-inline mt-3 ml-3">
                        <input type="hidden" name="token" value="{{ csrf_token('remove') }}">
                        <button class="btn btn-danger" style="width: 90px; height: 45px;">Remove</button>
                    </form>
                </div>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}