<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand text-danger" href="{{ path('homepage') }}">Master</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ path('homepage') }}">Accueil</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ path('product_create') }}">Ajouter un produit</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ path('product_all') }}">Tout les produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ path('user_index') }}">Tout les vendeurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="{{ path('categorie_index') }}">Categories</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                            {{ app.user.username }}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
                        </div>
                    </div>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-danger" href="{{ path('login') }}">Se connecter</a>
                </li> 
                {% endif %}
            </ul>
        </div>
    </div> <!-- .container -->
</nav>